[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ennet"]
	path = ennet
	url = https://github.com/katilingban/ennet
	shallow = true
	registered = true
[submodule "ppitables"]
	path = ppitables
	url = https://github.com/katilingban/ppitables
	shallow = true
	registered = true
[submodule "washdata"]
	path = washdata
	url = https://github.com/katilingban/washdata
	shallow = true
	registered = true
