[submodule ".registry"]
	path = .registry
	url = https://github.com/katilingban/katilingban.r-universe.dev
	branch = HEAD
[submodule "ennet"]
	path = ennet
	url = https://github.com/katilingban/ennet
[submodule "katilingban"]
	path = katilingban
	url = https://github.com/katilingban/katilingban
[submodule "motif"]
	path = motif
	url = https://github.com/katilingban/motif
[submodule "ppitables"]
	path = ppitables
	url = https://github.com/katilingban/ppitables
[submodule "washdata"]
	path = washdata
	url = https://github.com/katilingban/washdata
